@{
    List<ClimaTempo.Models.PrevisaoClima> previsaoSemana = (List<ClimaTempo.Models.PrevisaoClima>)ViewBag.PrevisaoSemana;
}

<div class="col-12 row title-clima-tempo-hoje">
    <label>Clima para os próximos 7 dias para a cidade de @ViewBag.CidadeFiltrada</label>
</div>

<div class="container">
    <div class="row">
        @{
            if (previsaoSemana.Count == 0)
            {
                for (int i = 0; i < 7; i++)
                {
                    <div class="col-lg-1 card-previsao-semana">
                        <div class="panel panel-default">
                            <div class="panel-heading panel-datas"><label>--</label> <br /> <label>--</label></div>
                            <div class="panel-body">
                                -- <br />
                                Mínima: -- <br />
                                Máxima: --
                            </div>
                        </div>
                    </div>
                }

            }
            else
            {
                foreach (var item in previsaoSemana)
                {
                    var culture = new System.Globalization.CultureInfo("pt-BR");
                    var day = culture.DateTimeFormat.GetDayName(item.DataPrevisao.DayOfWeek);

                    <div class="col-lg-1 card-previsao-semana">
                        <div class="panel panel-default">
                            <div class="panel-heading panel-datas"><label>@item.DataPrevisao.ToString("dd/MM/yyyy")</label> <br /> <label>@day</label></div>
                            <div class="panel-body">
                                @item.Clima <br />
                                Mínima: @item.TemperaturaMinima °C <br />
                                Máxima: @item.TemperaturaMaxima °C
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>

