
@{
    ViewBag.Title = "ClimaTempo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/select2js")
@Styles.Render("~/bundles/select2css")
@Styles.Render("~/bundles/climaTempoCSS")

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.js-example-basic-single').select2();

        var hoje = '@ViewBag.Hoje';
        $('.js-example-basic-single').on('select2:select', function (e) {
             $.ajax({
                url: '@Url.Action("CardsPrevisaoSemana", "ClimaTempo")',
                type: "POST",
                 data: { idCidade: $('.js-example-basic-single').val(), hoje }
            })
            .done(function (partialViewResult) {
                $(".cardsPrevisaoSemana").html(partialViewResult);
            });
        });
    });



</script>

@{
    Html.RenderAction("CardsCidadesMaisQuentesFrias", "ClimaTempo", new { hoje = ViewBag.Hoje });
}

<label>Filtrar Cidade</label>
@Html.DropDownList("Cidade", null, new { @class = "js-example-basic-single", @style = "width: 100%" })

<div class="cardsPrevisaoSemana">
    @{
        Html.RenderAction("CardsPrevisaoSemana", "ClimaTempo", new { hoje = ViewBag.Hoje });
    }
</div>